body{
    background-image: url(./dist/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    width: 100%;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
header{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    padding: 20px 0 20px 0;
    gap: 30px;
}
header > h2 {
    margin-bottom: 1rem;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
}
.nav > button{
    padding: 2rem;
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
}
.nav > button.active{
    border-bottom: 2px solid #eee;
}
main{
    max-width: 700px;
    padding: 4rem;
    margin: 6rem 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > .home > div > img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
footer{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 20px 0 20px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu section */
.menu{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 3rem;
    animation: fadeIn 1.5s;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 3rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s;
}
.menu-item:hover {
    background-color: var(--background-light-hover);
  }
.menu-item > img{
    width: 60%;
}
.menu-item h2 {
    padding: 1rem;
}
.menu-item p {
    font-size: 1.5rem;
    text-align: center;
}

/* contact section*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 525px;
    width: 618px;
}
.contact p{
    width: 100%;
    padding: 1rem;
}
.contact img {
    max-height: 420px;
    padding: 1rem;
    opacity: 90%;
}
